body {
  background-color: #000000;
  color: #F0C3D6;
  text-align: center;
  padding-top: 2em;
  font-family: 'Merriweather', serif;
}

#face {
  width: 30%;
  border: 1px solid #F0C3D6;
}

.text {
  padding: 1em;
  color: #000000;
}
