body {
  background-color: #000000;
  color: #F0C3D6;
  text-align: center;
  padding-top: 2em;
  font-family: 'Merriweather', serif;
  border-bottom: 5px solid #40021C;
}

#face {
  width: 30%;
  border: 1px solid #F0C3D6;
}

.text {
  padding: 1em;
  color: #000000;
}

/* html {
  min-height: 100vh;
  border-bottom: 5px solid #40021C;
} */

#bottom {
  /* min-height: 100vh; */
  border-bottom: 30px solid #40021C;
  bottom: 0px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  z-index: 100;
}

#emoticon {
  margin-bottom: 1px;
  margin-left : 1px;
  width: 200px;
  height: 200px;
  position: fixed;
  bottom: 0;
  font-size: 8em;
}
